.select {
    label {
        display: block;
        padding: $smallGap 0;
    }
    &.layout-default {
        .root {
            color: $color-primary;
            background-color: $color-white;
            border-radius: 0;
            &:hover {
                .outline {
                    border-color: $color-primary;
                }
            }
            &.error {
                .outline {
                    border-left-width: 6px;
                    border-color: $color-error;
                }
            }
            &.focused {
                background-color: color($color-lightgray, 40);
                &:not(.error) {
                    .outline {
                        border-color: $color-secondary;
                    }
                }
            }
            .outline {
                border-width: 2px;
                border-color: $color-black;
                transition: border .1s ease-in;
            }
            .input {
                padding: $smallGap * 1.5 $basicGap;
                padding-right: 38px;
            }
        }
    }
}
.menu {
    &.layout-default {
        .paper {
            box-shadow: 0 0 0 2px $color-gray;
        }
        .list {
            display: flex;
            flex-direction: column;
            gap: $smallGap / 4 * 3;
            padding: $smallGap / 4 * 3 0 ;
        }
        .item {
            color: $color-primary;
            border-radius: 4px;
            margin: 0 $smallGap;
            &:hover:not(.selected) {
                background-color: $color-lightgray;
            }
        }
        .selected {
            background-color: $color-secondary;
        }
    }
}