.text {
    label {
        display: block;
        padding: $smallGap 0;
    }
    .root {
        padding: 0;
        .status {
            padding: 0 $smallGap;
        }
    }
    &.layout-default {
        .root {
            color: $color-primary;
            background-color: $color-white;
            border-radius: 0;
            &:hover {
                .outline {
                    border-color: $color-primary;
                }
            }
            &.error {
                .outline {
                    border-left-width: 6px;
                    border-color: $color-error;
                }
            }
            &.focused {
                background-color: color($color-lightgray, 40);
                &:not(.error) {
                    .outline {
                        border-color: $color-secondary;
                    }
                }
            }
            .outline {
                border-width: 2px;
                border-color: $color-black;
                transition: border .1s ease-in;
            }
            .input {
                padding: $smallGap * 1.5 $basicGap;
            }
        }
    }
}