.desktop {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: $basicGap;
    background-color: $color-primary;
    @include media('tablet') {
        display: none;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $smallGap $basicGap;
        background-color: $color-primary;
        // .logo {}
        .menu {
            flex: 1;
            display: flex;
            justify-content: space-around;
            gap: $smallGap;
            .item {
                color: $color-black;
                padding: $smallGap;
                transition: all .1s ease-in;
                position: relative;
                cursor: pointer;
                &::after {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    height: 2px;
                    width: 0;
                    background-color: $color-secondary;
                    transform: translateX(-50%);
                    transition: all .2s ease-in;
                }
                &:hover {
                    color: $color-secondary;
                    &::after {
                        width: 100%;;
                    }
                }
            }
        }
    }
}
.mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: $smallGap $basicGap;
    background-color: $color-primary;
    // box-shadow: 0 0px 2px $color-secondary;
    z-index: 1300;
    position: sticky;
    top: 0;
    @include media('desktop', true) {
        display: none;
    }
    // .logo {}
    .menuButton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6px;
        width: 30px;
        height: 30px;
        color: $color-white;
        [data-line],
        [data-line='2']::before {
            content: '';
            display: block;
            background-color: $color-white;
            width: 100%;
            height: 3px;
            border-radius: 3px;
            transition: all .25s;
        }
        &[data-show='true'] {
            [data-line='1'],
            [data-line='3'] {
                width: 0;
            }
            [data-line='2'] {
                transform: rotate(45deg);
                &::before {
                    transform: rotate(90deg);
                }
            }
        }
    }
}
.sideMenu {
    display: flex;
    flex-direction: column;
    gap: $smallGap;
    width: 100vw;
    height: 100vh;
    color: $color-secondary;
    background-color: $color-primary;
    padding: $basicGap 0;
    overflow-y: auto;
    .item {
        padding: $smallGap $basicGap;
        transition: all .25s ease-in;
        &:hover {
            color: $color-primary;
            background-color: $color-secondary;
        }
    }
}