$size: 20px;
@mixin base-icon {
    $size: 20px;
    align-self: center;
    font-size: $size;
    width: $size;
    height: $size;
    .icon {
        // For mui loader
        width: $size !important;
        height: $size !important;
    }
}

.status {
    &.loader {
        // TODO: change loader to fontawesome
        @include base-icon;
        color: $color-primary;
    }
    &.success {
        @include base-icon;
        .bg {
            color: $color-success;
        }
    }
    &.error {
        @include base-icon;
        .bg {
            color: $color-error;
        }
    }
}