:export {
    font: {
        family: $font-family;
    }
    color: {
        primary: $color-primary;
        secondary: $color-secondary;
        while: $color-white;
        lightgray: $color-lightgray;
        gray: $color-gray;
        success: $color-success;
        error: $color-error;
    }
    breakpoint: {
        desktop: map.get($breakpoint, 'desktop');
        tablet: map.get($breakpoint, 'tablet');
        mobile: map.get($breakpoint, 'mobile');
    };
}