@function color($color, $alpha) {
    @return #{$color}#{decToHex(round($alpha / 100 * 255))};
}

@function decToHex($d) {
    $hexVals: 'A' 'B' 'C' 'D' 'E' 'F';
    $base: 16;
    $quotient: $d;
    $result: '';
    @if $d == 0 {
        $result: '00';
    }
    @while $quotient != 0 {
        $mod: $quotient % $base;
        $quotient: floor($quotient / $base);
        @if $mod > 9 {
            $mod: nth($hexVals, $mod - 9);
        }
        @if $d < $base {
            $result: '0' + $mod;
        } @else {
            $result: $mod + $result;
        }
    }
    @return $result;
}

@mixin media($key, $only: false) {
    @if ($key == 'desktop') {
        @if ($only == true) {
            @media (min-width: (map.get($breakpoint, $key) + 1px)) {
                @content;
            }
        } @else {
            @error 'Remove media. The result is same as without using media.';
        }
    } @else if ($key == 'tablet') {
        @if ($only == true) {
            @media (max-width: map.get($breakpoint, 'desktop')) and (min-width: (map.get($breakpoint, $key) + 1px)) {
                @content;
            }
        } @else {
            @media (max-width: map.get($breakpoint, 'desktop')) {
                @content;
            }
        }
    } @else if ($key == 'mobile') {
        @media (max-width: map.get($breakpoint, 'tablet')) {
            @content;
        }
    }
}