// font
$font-family: 'Noto Sans TC', sans-serif;

// color
$color-primary: #008080;
$color-secondary: #9BD1D1;
$color-white: #FFFFFF;
$color-lightgray: #F4F4F4;
$color-gray: #DDDDDD;
$color-success: #198754;
$color-error: #D32F2F;

// spacing
$smallGap: 8px;
$basicGap: $smallGap * 2;   // 16px
$boxGap: $smallGap * 3;     // 24px
$sectionGap: $boxGap * 2;   // 48px
$lineHeight: 1.4;

// size
$containerWidth: 1400px;
$breakpoint: (
    'desktop': 1000px,
    'tablet': 600px,
    'mobile': 0px,
);