// font
$font-family: 'Noto Sans TC', sans-serif;

// color
$color-primary: #008080;
$color-secondary: #9BD1D1;
$color-white: #FFFFFF;
$color-lightgray: #F4F4F4;
$color-gray: #DDDDDD;
$color-success: #198754;
$color-error: #D32F2F;

// spacing
$basicGap: 20px;
$sectionGap: $basicGap * 3;
$lineHeight: 1.4;

// size
$containerWidth: 1400px;
$breakpoint: (
    'desktop': 1001px,
    'tablet': 1000px,
    'mobile': 600px,
);
$textboxOverBorder: 200px;