@mixin base-icon {
    align-self: center;
    font-size: 30px;
    .bg {
        color: transparent;
    }
}

.button {
    display: flex;
    font-weight: bold;
    color: $color-primary;
    padding: $smallGap $boxGap;
    transition: all .2s ease-in-out;
    cursor: pointer;
    &:hover {
        color: $color-secondary;
    }
    &.layout-default {
        justify-content: center;
        align-items: center;
    }
}