@mixin base-icon {
    align-self: center;
    font-size: 30px;
    .bg {
        color: transparent;
    }
}

.button {
    display: flex;
    justify-content: space-between;
    column-gap: $basicGap / 2;
    font-weight: bold;
    color: $color-primary;
    padding: 5px $basicGap * 2;
    transition: color .25s ease-in-out, background-color .25s ease-in-out;
    cursor: pointer;
    .loader {
        align-self: center;
    }
    .success {
        @include base-icon;
        .bg {
            color: $color-success;
        }
    }
    .error {
        @include base-icon;
        .bg {
            color: $color-error;
        }
    }
    // &.layout-default {}
    &.layout-hollow {
        // variables
        $cornerSize: 14px;
        position: relative;
        background: unset;
        border: unset;
        border-bottom: 1px solid #DDDDDD;
        clip-path: polygon(0 0, calc(100% - $cornerSize) 0, 100% $cornerSize, 100% 100%, 0 100%);
        &:hover {
            color: $color-secondary;
            background-color: $color-primary;
        }
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: $cornerSize;
            height: $cornerSize;
            background-color: $color-secondary;
            clip-path: polygon(0 0, 0% 100%, 100% 100%);
        }
        .loader {
            align-items: center;
        }
    }
    &.layout-solid {
        justify-content: center;
        align-items: center;
        background-color: color($color-white, 83);
        border-radius: 20px;
        &:hover {
            background-color: $color-secondary;
        }
    }
}