.button {
    display: flex;
    font-weight: bold;
    color: $color-primary;
    padding: $smallGap $boxGap;
    transition: all .2s ease-in-out;
    cursor: pointer;
    &:hover {
        color: $color-secondary;
    }
    &.layout-default {
        justify-content: center;
        align-items: center;
        gap: $basicGap;
    }
}