.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 48px;
    margin: auto;
    background-color: $color-primary;
    h2 {
        border-bottom: 1px solid;
        @include media('desktop', true) {
            background-color: darkblue;
        }
        @include media('tablet', true) {
            background-color: darkred;
        }
        @include media('mobile', true) {
            background-color: darkgreen;
        }
    }
}